.arrangement-options {
  position: fixed;
  top: 25%;
  right: 0;
  padding-bottom: 25%;
}

#arrange-tabs-btn {
  transition: 0.2s;
  opacity: 0.75;
}

#arrange-tabs-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.arrange-tabs-container #arrange-tabs-tooltip {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  width: 10rem;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.arrange-tabs-container:hover #arrange-tabs-tooltip {
  visibility: visible;
  opacity: 1;
}
