:root {
  font-size: 16px;
  --downloads-color: silver;
}

body {
  margin: 0;
}

.intro {
  height: 100vh;
  background-color: #5296A5;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20vh;
}

.title {
  display: inline-block;
  height: auto;
  width: 30rem;
  margin: auto;
  margin-right: 10rem;
}

#mmt-logo {
  margin-bottom: 0.5rem;
}

.downloads {
  display: inline-block;
  height: 17rem;
  width: 20rem;
  margin: auto;
  margin-top: 3.5rem;
  border: 1px solid var(--downloads-color);
  border-radius: 10px;
  font-size: 2.5rem;
  vertical-align: top;
  color: white;
}

.downloads hr {
  margin: 0;
  border-color: var(--downloads-color);
}

.download-btn {
  height: 25%;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  color: navy;
  text-align: left;
}

.download-btn:hover {
  background-color: navy;
  color: white;
}

.browser-icon {
  margin-left: 1.75rem;
}

.about {
  background-color: #E8C547;
  min-height: 100vh;
  padding-top: 5rem;
  text-align: center;
}

.fa-10x {
  padding: 3rem;
}

.features {
  padding-top: 2rem;
  text-align: center;
  background-color: #8CBA80;
}

.features h1, .features p {
  margin-bottom: 2rem;
}

@media only screen and (max-width:983px){
  .intro{
    height: inherit;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .title {
    margin: auto;
    margin-top: 2rem;
  }
  .downloads{
    margin-top: 1rem;
    display: block;
  }
}
