:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  --tab-hover-color: #2196F3;
  --main-active-color: #2a9606;
  --settings-active-color: #2196F3;
}

body {
  background-color: white;
}

header {
  margin-bottom: 5.5rem;
  padding-top: 1rem;
  text-align: center;
}

.title {
  position: relative;
  margin: auto;
  width: 25rem;
}

.main-container{
  position: relative;
  overflow-x: visible;
}

#tabs-icon {
  position: absolute;
  left: 1rem;
  top: -0.2rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.75;
  z-index: 1;
  border-right-width: 0;
  border-top-width: 0;
  visibility: hidden;
}

.close-btn:hover {
  background-color: #ff1a1a;
  cursor: pointer;
  opacity: 1;
}

.main-content {
    position: relative;
    transition: 0.5s;
}

#undo-btn {
  border: 1px solid black;
  position: absolute;
  width: 10%;
  font-size: 0.9rem;
  top: -1.9rem;
  left: 0;
  transition: 0.2s;
}

#undo-btn:hover {
  background-color: #ddd;
  cursor: pointer;
}

.window-selection h2 {
  display: inline-block;
  padding-top: 0.25rem;
  margin-right: 0.25rem;
  font-weight: 300;
}

.window-selection {
  position: absolute;
  display: inline-block;
  padding-top: 0.25rem;
  height: 3.5rem;
  display: inline-block;
  top: -2.4rem;
  left: 8rem;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 45%;
}

.window-select-btn {
  margin-left: 1px;
  outline: none;
  text-decoration: none;
  border: none;
  background-color: white;
  transition-duration: 0.2s;
}

.window-select-active {
  outline: none;
  border: none;
  color: white;
  background-color: var(--main-active-color);
}

.window-select-btn:hover {
  background-color: #ddd;
  cursor: pointer;
}

#no-match-search {
  position: absolute;
  left:0rem;
  top: 2rem;
  text-align: center;
  font-size: 1rem;
  z-index: -1;
}

.search{
  position: absolute;
  top: -3.25rem;
  right: -1rem;
  width: 12.3rem;
  height: 4rem;
  margin-right: 1rem;
  text-align: center;
}

.searchbar {
  display: block;
}

#search-input {
  padding-left: 1.5rem;
  font-size: 0.8rem;
  width: 12rem;
}

#search-icon {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 8%;
}
