.row {
  min-height: 50%;
  overflow: hidden;
}

.tab-group {
  border: 1px solid black;
  padding-bottom: 0.5rem;
  background-color: var(--tab-group-bg-color);
  overflow-y: visible;
}

.tab-group:hover .closeGroupBtn, .tab-group:hover .tab-group-options-btn {
  visibility: visible;
}

.icon {
  position: absolute;
  left: 0.5rem;
  top: 0rem;
  float: left;
  margin-top: 0.3rem;
  width: 1.5rem;
}

.tab-title {
  margin: auto;
  margin-left: 1.25rem;
  width: 80%;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.tab-title::after {
  content: "";
  position: absolute;
  top: 0.45rem;
  left: 66%;
  height: 1.5rem;
  width: 30%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #fcfcfc);
}

.tabContainer {
  position: relative;
  height: 1.4rem;
  margin-bottom: 0.5rem;
}

.tabContainer:hover .close-tab-btn, .tabContainer:hover .tab-options-btn {
  visibility: visible;
}

.tab {
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  border-left: 4px solid black;
  border-radius: 2px;
  color: black;
  font-weight: 450;
  display: inline-block;
  padding: 0 6% 0 6%;
  opacity: 1;
  transition: 0.1s;
}

.tabContainer:hover .tab {
  background-color: var(--tab-hover-color);
  color: white;
  border: none;
  cursor: pointer;
}

.tab::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 66%;
  height: 75%;
  width: 30%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f2f2f2);
}

.tabContainer:hover .tab:after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--tab-hover-color));
  transition: none;
}

.tabDescription {
  margin-bottom: 0;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tab-options-btn, .tab-group-options-btn, .win-options-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 1rem;
  text-align: center;
  z-index: 1;
  visibility: hidden;
  background-color: var(--tab-hover-color);
  border-radius: 2px;
  opacity: 1;
  z-index: 2;
}

.tab-group-options-btn {
  background-color: var(--tab-group-bg-color);
}

.tab-options-btn:hover, .tab-group-options-btn:hover, .win-options-btn:hover {
  background-color: green;
  cursor: pointer;
  opacity: 1;
}

.dropdown-content {
  position: absolute;
  text-align: center;
  display: none;
  right: -1rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.tab-options-btn .active.dropdown-content, .tab-group-options-btn .active.dropdown-content, .win-options-btn .active.dropdown-content {
  display: block;
}

.tab-option {
  margin: 0;
  padding: 0;
}

.tab-option:hover {
  background-color: var(--tab-hover-color);
  color: white;
  cursor: pointer;
}

.close-tab-btn {
  background-color: var(--tab-hover-color);
  border-radius: 2px;
  opacity: 1;
}
